In [88]:
import pandas as pd
import umap
import matplotlib.pyplot as plt
 
input_path='/Users/tomita/Desktop/kaggle_elo/'
 #dataの前処理
train=pd.read_csv(input_path+'input/train.csv')
datas=pd.read_csv(input_path+'input/merchants.csv')
rank_list=pd.read_csv(input_path+'input/features/rank.csv')

In [89]:
datas.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [90]:
rank_list.head()

  rank  number
0    A       4
1    B       3
2    C       2
3    D       1
4    E       0

category_1,most_recent_sales_range,most_recent_purchases_range,category_4について処理をしていく

In [91]:
print(datas.iloc[0,7])
copy_iloc=datas.iloc[0,7]

E

In [92]:
hoge=rank_list.reset_index().query(' rank== @copy_iloc').index[0]
rank_list.iloc[rank_list.reset_index().query(' rank== @copy_iloc').index[0],1]

0

In [ ]:
for i in range(datas.shape[0]):
    aa=datas.columns.get_loc('most_recent_sales_range')
    copy_iloc=datas.iloc[i,aa]
    datas.iloc[i,aa]=rank_list.iloc[rank_list.reset_index().query(' rank== @copy_iloc').index[0],1]
    aa=datas.columns.get_loc('most_recent_purchases_range')
    copy_iloc=datas.iloc[i,aa]
    datas.iloc[i,aa]=rank_list.iloc[rank_list.reset_index().query(' rank== @copy_iloc').index[0],1]
    
    
drop_columns=['merchant_id']
datas.drop(drop_columns,axis=1)


#print(datas.loc(0))